<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.zjyun.spring_ioc.d_依赖项注入.手动注入.依赖Set注入.City" name="city">
        <property name="cityName" value="beijing"></property>
    </bean>

    <bean class="com.zjyun.spring_ioc.d_依赖项注入.手动注入.依赖Set注入.Person" name="person">
        <property name="name" value="王子健"/>
        <property name="city" ref="city"/>
     </bean>
</beans>