<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjyun.AccountMapper">
    <cache/>
    <select id="selectAccount" parameterType="int" resultType="com.zjyun.Account">

        select * from account where id = ${id}
    </select>
    <select id="selectAllAccounts"  resultType="com.zjyun.Account">
        select * from account
    </select>

    <select id="selectAccountDynamic" parameterType="int" resultType="com.zjyun.Account">
        select * from account where id = ${id}
        <if test="id >5">
            and 1=1
        </if>
    </select>

    <select id="deleteAccount" parameterType="int" resultType="com.zjyun.Account">
        delete  from account where id = ${id}
    </select>
</mapper>
